main{
    background-image: url(../images/vehicule3.jpg);
    background-size : cover;
    height: auto;
    padding: 100px;
}

main form{
    height: auto;
}
.contenu{
    background-color: #ffffff;
}

.form-control, textarea{
    background-color:#ECEFF3;
    border-radius: 0;
    font-size: 0.7rem;
}

